<% @messages.each do |message| %>
	<div class="col-md-4">
		<div class="message">
			<h2><%= message.title %></h2>
			<%= link_to "View Message", message_path(message), class: "btn btn-custom" %>
	</div>
<% end %>

<%= button_to "New Message", new_message_path %>