<td><%= link_to image_tag(sale_post.photo, :size=>"200x200"), new_message_path(id: sale_post), :class => "button", :method => "post" %></td>
<td><%= "#{sale_post.name}" %></td>
<td><%= "#{sale_post.price}" %></td>
<td><%= "#{sale_post.updated_at}" %></td>