<td><%= link_to image_tag(sale_post.photo, :size=>"300x300"), messages_new_sale_path(id: sale_post), :class => "button", :method => "post" %></td>
<td><%= "#{sale_post.name}" %></td>
<td><%= "#{sale_post.price}" %></td>
<td><%= "#{sale_post.updated_at}" %></td>