<html>
  <div class="row">     
    <div class="col s6 offset-s1">
      <span class="flow-text">
        <h3>Create a New Sale Post</h3>
        <form action="/sale_posts" method="POST">
          <label>Item name</label>
          <input name="name" type="text"></input>
          <label>Asking price</label>
          <input name="price" type="number"></input>
          <label>Link to photo</label>
          <input name="photo" type="text"></input>
          <button type="submit">Create listing</button>
        </form>
      </span>
    </div>
  </div>
</html>