<div class="container">
  <div class="row">
    <h3>Users</h3>
    <div class="column">
      <table class="table">
        <tbody>
        <tr>
          <td>Name</td>
          <td class="right-align">Active Sale Posts</td>
          <td class="right-align">Closed Sale Posts</td>
          <td class="right-align">Active Buy Posts</td>
          <td class="right-align">Closed Buy Posts</td>
        </tr>
          <% @users.each do |user| %>
            <tr>
              <%= render user %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>