<html>

<body>

<div>
<h5 class="center-align">

<div class="row">     
  <div class="col s6">
    <p class="header">Recent Sale Posts</p> <!-- Add link to see all sale posts -->
    <table>
      <tr>
        <td></td>
        <td>Name</td>
        <td>Asking price</td>
        <td>Last edited</td>
      </tr>
      <% @all_sale_posts[0..4].each do |post| %>
        <tr>
          <%= render post %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col s6">
    <p class="header">Recent Buy Posts</p> <!-- Add link to see all buy posts -->
    <table>
      <tr>
        <td></td>
        <td>Name</td>
        <td>Bidding price</td>
        <td>Last edited</td>
      </tr>
      <% @all_buy_posts[0..4].each do |post| %>
        <tr>
          <%= render post %>
        </tr>
      <% end %>
    </table>
  </div>
</div>

</h5>
</div>

</body>
</html>