<td><%= link_to image_tag(buy_post.photo, :size=>"200x200"), :class => "button", :method => "get" %></td>
<td><%= "#{buy_post.name}" %></td>
<td><%= "#{buy_post.price}" %></td>
<td><%= "#{buy_post.updated_at}" %></td>