<html>
  <div class="row">     
    <div class="col s6 offset-s1">
      <span class="flow-text">  
        <h3>Create a New Buy Post</h3>
        <form action="/buy_posts" method="POST">
          <label>Item name</label>
          <input name="name" type="text"></input>
          <label>Bidding price</label>
          <input name="price" type="number"></input>
          <label>Link to photo</label>
          <input name="photo" type="text"></input>
          <%= hidden_field_tag 'authenticity_token', form_authenticity_token %>
          <button type="submit">Create listing</button>
        </form>
      </span>
    </div>
  </div>
</html>