<h3>Create a New Buy Post<h3>

<form action="/buy_posts" method="POST">
  <label>Item name</label>
  <input name="name" type="text"></input>
  <label>Bidding price</label>
  <input name="price" type="number"></input>
  <label>Link to photo</label>
  <input name="photo" type="text"></input>
  <button type="submit">Create listing</button>
</form>
