<h3>Create a New Listing<h3>

<form action="/items" method="POST">
  <label>Item description</label>
  <input name="description" type="text"></input>
  <label>Asking price</label>
  <input name="price" type="number"></input>
  <label>Link to photo</label>
  <input name="photo" type="text"></input>
  <button type="submit">Create listing</button>
</form>
